<main class="container contenedor__carrito">
    <section class="carrito">
        <h1>CARRITO DE COMPRAS</h1>
        <div class="carrito__columnas carrito__bordes">
            <p>DETALLE DEL PRODUCTO</p>
            <p>CANTIDAD</p>
            <p>TOTAL</p>
        </div>
        <article class="carrito__item carrito__bordes">
            <div>
                <img src="../multimedia/star-wars/baby-yoda-1.webp" alt="BABY YODA">
            </div>
            <div>
                <h3>BABY YODA BLUEBALL</h3>
                <p>STAR WARS</p>
                <br>
                <p>Precio unitario: $1799,99</p>
            </div>
            <div>
                <input type="number" class="carrito__input" name="number1" id="number1" placeholder="0">
            </div>
            <div>
                <p>$3599,98</p>
            </div>
            <div>
                <img src="../multimedia/icons/cancelar.png" alt="icono de cancelar"> 
            </div>
        </article>
        <article class="carrito__item carrito__bordes">
            <div>
                <img src="../multimedia/pokemon/pidgeotto-1.webp" alt="PIDGEOTTO">
            </div>
            <div>
                <h3>PIDGEOTTO</h3>
                <p>POKEMON</p>
                <br>
                <p>Precio unitario: $1799,99</p>
            </div>
            <div>
                <input type="number" class="carrito__input" name="number2" id="number2" placeholder="0">
            </div>
            <div>
                <p>$1799,99</p>
            </div>
            <div>
                <img src="../multimedia/icons/cancelar.png" alt="icono de cancelar">
            </div>
        </article>
    </section>
    <section class="resumen">
        <h1>RESUMEN</h1>
        <div class="carrito__bordes">
            <label>CANTIDAD DE ELEMENTOS</label>
            <label class="valor_resumen">3</label>
            <br><br>
            <label>SUBTOTAL</label>
            <label class="valor_resumen">$ 5.399,97</label>
            <br><br>
            <label>ENVÍO</label>
            <label class="valor_resumen">$ 0,00</label>
            <br><hr><br>
            <label class="total">TOTAL</label>
            <label class="valor_resumen total">$ 5.399,97</label>
        </div>
        <button>IR A PAGAR</button>
    </section>
</main>