<main class="container">
    <section class="form__login">
        
        <form action="" method="post">
            <h1 class="login__title">INGRESAR A MI CUENTA</h1>

                <label class="label__input-login" for="email">Email:</label>
                <input class="input__item input__login" type="email" name="email"  placeholder="cuenta@correo.com" required>

                <label class="label__input-login" for="password">Contraseña:</label>
                <input class="input__item input__login " type="password" name="password" id="" placeholder="***********" required>

                <div class="login__btn">
                    <button class="btn">Ingresar</button>
                    <div class="recordar__btn">
                        <input class="input__recordar" type="checkbox" name="recordar" id="recordar">
                        <label class="label__recordar" for="recordar">Recordarme</label>
                    </div>
                </div>
                <div class="recuperar">
                    <a class="recuperar__password" href="#">Olvide mi Contraseña</a>
                </div>
        </form>
    </section>
</main>