<main class="container">
    <section class="form__register">
        <h1 class="register__title">CREA TU CUENTA</h1>
        <h3 class="register__subtitulo">Completa el formulario para ser parte del mundo de los Funkos</h3>

        <form action="" method="post">

            <label class="label__input label__register" for="name">Nombre:</label>
            <input class="input__item input__register" type="text" name="name" placeholder="Nombre" required>

            <label class="label__input label__register" for="lasname">Apellido:</label>
            <input class="input__item input__register" type="text" name="lastname" placeholder="Apellido" required>

            <label class="label__input label__register" for="email">Email:</label>
            <input class="input__item input__register" type="email" name="email"  placeholder="Email" required>

            <label class="label__input label__register" for="password">Contraseña:</label>
            <input class="input__item input__register" type="password" name="password"
                placeholder="************" required>

            <label class="label__input label__register" for="password">Repita Contraseña:</label>
            <input class="input__item input__register" type="password" name="password"
                placeholder="************" required>

            <div class="register__btn">
                <button class="btn reg-btn">Registrar</button>
                <div class="terminos">
                    <input class="input__terminos" type="checkbox" name="terminos" id="terminos">
                    <label class="label__terminos" for="terminos">Acepto <span> "Términos y Condiciones</span></label>
                </div>
            </div>

        </form>
    </section>
</main>