<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    
    <body>
        <%- include('../partials/admin/headerAdmin') %>
        <%- body %>
        <%- include ('../partials/admin/footerAdmin') %>
        
        <script src="../js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    </body>
</html>